{% extends 'base.html' %}

{% block title %}
    LIST OF TEACHERS
{% endblock %}


{% block content %}

<p>
<button onclick="window.location.href = '{% url 'teachers-add' %}';">Add Teacher</button>
</p>

<form action="{% url 'teachers' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>

<p></p>

<table style="width:100%">
  <tr>
    <th>teacher edit</th>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>E-Mail</th>
  </tr>
</table>

{% for teacher in teachers %}
<table style="width:100%">
  <tr>
    <td><a href="{% url 'teachers-edit' teacher.id %}">teacher edit</a></td>
    <td>{{ teacher.id }}</td>
    <td>{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td>{{ teacher.email }}</td>
  </tr>
</table>
<br>

{% endfor %}


{# teachers_list|safe #}

{% endblock content %}