{% extends 'base.html' %}

{% block title %}
    LIST OF GROUPS
{% endblock %}

{% block content %}

<p>
<button onclick="window.location.href = '{% url 'groups-add' %}';">Add Group</button>
</p>

<form action="{% url 'groups' %}" method="get">
    <input name="group_code">
    <input name="submit" type="submit">
</form>

<p></p>
<table style="width:100%">
  <tr>
    <th>group edit</th>
    <th>ID</th>
    <th>group code</th>
    <th>number of students</th>
    <th>faculty</th>
    <th>Start year</th>
    <th>Curator</th>
    <th>Senior</th>
  </tr>
</table>
{% for group in groups %}
<table style="width:100%">
  <tr>
    <td><a href="{% url 'groups-edit' group.id %}">group edit</a></td>
    <td>{{ group.id }}</td>
    <td>{{ group.group_code }}</td>
    <td>{{ group.num_of_students }}</td>
    <td>{{ group.faculty }}</td>
    <td>{{ group.start_year }}</td>
    <td>{{ group.curator.last_name }}</td>
    <td>{{ group.senior }}</td>
  </tr>
</table>
<br>
{% endfor %}

{# groups_list|safe #}

{% endblock content %}