{% extends 'base.html' %}

{% block content %}
<p>
<button onclick="window.location.href = '{% url 'students-add' %}';">Add Student</button>
</p>


<form action="{% url 'students' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>

<p></p>


{% for student in students %}
    <a href="{% url 'students-edit' student.id %}">student edit</a>
    {{ student.id }} {{ student.first_name }} {{ student.last_name }} {{ student.email }}<br>
{% endfor %}

{# students_list|safe #}
{% endblock content %}
