{% extends 'base.html' %}

{% block title %}
    LIST OF STUDENTS
{% endblock %}


{% block content %}
<p>
<button onclick="window.location.href = '{% url 'students-add' %}';">Add Student</button>
</p>


<form action="{% url 'students' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>

<p></p>

<table style="width:100%">
  <tr>
    <th>student edit</th>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>E-Mail</th>
  </tr>
</table>
{% for student in students %}

<table style="width:100%">
  <tr>
    <td><a href="{% url 'students-edit' student.id %}">student edit</a></td>
    <td>{{ student.id }}</td>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.group.group_code }}</td>
  </tr>
</table>
<br>
{% endfor %}

{# students_list|safe #}
{% endblock content %}
